{% extends "base.html" %}
{% block content %}
<div style="background-color:#F4FFFE; padding:10px; padding-bottom:30px;">
  {% for post in posts %}
    <h2>{{ post.subject }} by {{ post.creator.username }}</h2>
    <h3>Posted on: {{ post.time_created.strftime("%b %d, %Y") }}</h3>
    <article>{{ post.content }}</article>
    {% if post.creator.username == user.username %}
      <div class="author-options">
        <a href="/blog/edit?post={{ post.key.id() }}">Edit</a>
        <a href="/blog/delete?post={{ post.key.id() }}">Delete</a>
      </div>
    {% endif %}
    <a href="/blog/{{ post.key.id() }}">Read more</a>
    <br>
  {% endfor %}
  <br>
  <button>
  <a href="/blog/newpost">Create new post</a>
  </button>
</div>

{% endblock %}
