{% extends "base.html" %}
{% block content %}
<div style="background-color:#91ffbf; padding:10px; padding-bottom:30px;">

  <h2>Edit Blog Post</h2>
  <form method="post">
    <label>
      <div>subject</div>
      <input type="text" name="subject" value="{{ subject }}">
    </label>
    <label>
      <div>content</div>
      <textarea name="content">{{ content }}</textarea>
    </label>
    <div class="error">{{ error }}</div>
    <input type="submit">
  </form>
  <a href="/blog">Cancel</a>

</div>
{% endblock %}
